---
import Main from '../react/main';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicholas Inggih - Portfolio (built with Astro.js)</title>
	</head>
	<body>
		<Main client:only/>
	</body>
</html>
