body{
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ol,
li {
  display: inline-block;
}

ol {
  padding-left: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

li>div {
  width: calc(33vw - 15px);
  list-style-type: none;
  margin: 0px;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

li:first-of-type {
  margin-left: 5px !important;
}

li:last-child {
  margin-right: 0 !important;
}

@media only screen and (max-width: 600px) {
  li>div {
    width: calc(100vw - 10px);
    height: calc(33vh - 27px);
  }

  li:first-child {
    margin-left: 0px !important;
  }
}