.svg {
  width: 32px;
  filter: invert(1);
}

.svgInverse {
  width: 32px;
  filter: invert(0);
}

.fade-in-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fade-in-item {
  opacity: 0;
  margin-top: 20px; /* Adjust as needed */
  animation: fadeSlide 2s ease-in-out forwards;
}

.visible {
  opacity: 1 !important;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Adjust as needed */
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  55% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}